ALTER TABLE Managements ADD COLUMN InvioAutomatico INTEGER NOT NULL Default 0;
ALTER TABLE Managements ADD COLUMN RicezioneAutomatica INTEGER NOT NULL Default 0;

ALTER TABLE Mittenti ADD COLUMN CapitaleSociale TEXT NOT NULL Default "";
ALTER TABLE Mittenti ADD COLUMN SocioUnico INTEGER NOT NULL Default 0;
