CREATE TABLE FatturePassiveRicevuteFiles(
	 Id		 INTEGER NOT NULL PRIMARY KEY,
	 Tipo    INTEGER NOT NULL,
	 FKeyFattura  INTEGER NOT NULL,
	 DataFattura   TEXT NOT NULL,
	 NomeFile       TEXT NOT NULL,
	 FileDescription      TEXT NOT NULL,
	 FileAllegato               BLOB NOT NULL
	);