ALTER TABLE Managements ADD COLUMN CustomFileName TEXT NOT NULL Default "";

ALTER TABLE FatturePassiveRicevute ADD COLUMN Contabilizzata INT NOT NULL Default 0;
ALTER TABLE FatturePassiveRicevute ADD COLUMN Note TEXT NOT NULL Default "";

