ALTER TABLE FattureAttive ADD COLUMN FormatoTrasmissione TEXT NOT NULL Default '';
ALTER TABLE FattureAttive ADD COLUMN UltimaVerificaEsito TEXT;
ALTER TABLE FattureAttiveEsiti ADD COLUMN DataCreazione TEXT NOT NULL Default '1900-01-01 00:00:00.00';
ALTER TABLE FattureAttiveEsiti ADD COLUMN Archiviato INT NOT NULL Default 0;
ALTER TABLE FatturePassiveRicevute ADD COLUMN AllegatiPresenti INT NOT NULL Default 0;
