CREATE TABLE SY_MainSettings (
	SettingName TEXT NOT NULL PRIMARY KEY, 
	StringValue	TEXT NOT NULL, 
	NumericValue	INTEGER NOT NULL);

INSERT INTO SY_MainSettings (SettingName,StringValue, NumericValue)VALUES ("ErrorReportSenderDomain","",0);
INSERT INTO SY_MainSettings (SettingName,StringValue, NumericValue)VALUES ("ErrorReportEnableSSL","",1);
INSERT INTO SY_MainSettings (SettingName,StringValue, NumericValue)VALUES ("ErrorReportSenderEmail","syncsystem@brainteam.it",0);

	CREATE TABLE Mittenti (
	 Id INTEGER PRIMARY KEY AUTOINCREMENT,
	 RagioneSociale text NOT NULL,
	 CodiceFiscale text NOT NULL,
	 PartitaIVA text NOT NULL,
	 RegimeFiscale INTEGER NOT NULL,
	 Indirizzo text NOT NULL,
	 Cap text NOT NULL,
	 Comune text NOT NULL,
	 Provincia text NOT NULL,
	 IdPaese text NOT NULL,
	 Email text NOT NULL,
	 Telefono text NOT NULL,
	 IscrizioneREA INTEGER NOT NULL,
	 UfficioREA text NOT NULL,	 
	 NumeroREA text NOT NULL,
	 StatoLiquidazione INTEGER NULL,
	 NextProgressivoInvio integer
	);

	CREATE TABLE Intermediari (
	 Id INTEGER PRIMARY KEY ,
	 Tipo INTEGER,
	 DescIntermediario text NOT NULL
	);

	CREATE TABLE IntermediariConfigurazioni (
	 FKeyIntermediario INTEGER NOT NULL,
	 SettingName	TEXT NOT NULL,
	 StringValue	TEXT NOT NULL,
	 NumericValue	INTEGER NOT NULL
	);


	CREATE TABLE Managements (
	 Id INTEGER PRIMARY KEY ,
	 Tipo INTEGER,
	 DescManagement text NOT NULL,
	 FKeyMittente INTEGER,
	 FKeyIntermediario INTEGER,
	 Invio INTEGER,
	 Ricevere INTEGER
	);

	CREATE TABLE ManagementsConfigurations (
	 FKeyManagement INTEGER  NOT NULL,
	 SettingName	TEXT NOT NULL,
	 StringValue	TEXT NOT NULL,
	 NumericValue	INTEGER NOT NULL
	);


CREATE TABLE FattureAttive (
    Id INTEGER NOT NULL PRIMARY KEY,
	FKeyManagement INTEGER NOT NULL,
	Identificativo	TEXT NOT NULL,
	IdSDI	INTEGER NOT NULL,
	ProgressivoIntero INTEGER NOT NULL,
	ProgressivoEncoded TEXT NOT NULL,
	DataInvio TEXT NOT NULL,
	DescFattura TEXT NOT NULL,
	NomeFile TEXT NOT NULL,
	FileXML BLOB NOT NULL,
	Resended INTEGER NOT NULL
	);
	
CREATE INDEX idx_FattureAttive ON FattureAttive (FKeyManagement, Identificativo);
CREATE INDEX idx_FattureAttive_Resended ON FattureAttive (Resended);

CREATE TABLE FattureAttiveEsiti (
    Id INTEGER NOT NULL PRIMARY KEY,
	FKeyFattura INTEGER NOT NULL,
	IdSDI	INTEGER NOT NULL,
	IdSdiEsito	INTEGER NOT NULL,
	TipoMessaggio INTEGER NOT NULL,
	StatoArchiviazione INTEGER NOT NULL,
	IdPdV TEXT  NULL,
	DataPdV TEXT NULL,
	IdRdV TEXT NOT NULL,
	DataRdV TEXT NULL,
	DataPdA TEXT NULL,
	DescrizioneMessaggio TEXT  NULL,
	CodiceErrore TEXT  NULL,
	IsImported INTEGER NOT NULL,
	Descrizione TEXT NOT NULL,
	NomeFile TEXT  NULL,
	FileXML BLOB  NULL
   );

CREATE INDEX idx_FattureAttiveEsiti ON FattureAttiveEsiti (FKeyFattura);

CREATE TABLE FatturePassiveRicevute (
	Id INTEGER NOT NULL PRIMARY KEY,
	FKeyManagement INTEGER NOT NULL,
	IdSDI INTEGER NOT NULL,
	StatoEsiti INTEGER NOT NULL,
	CodiceUfficio TEXT NOT NULL,
	DataPredisposizioneSupporto TEXT NOT NULL,
	Mittente TEXT NOT NULL,
	CodiceFiscale TEXT NOT NULL,
	PartitaIva TEXT NOT NULL,
	IdDocumento TEXT NOT NULL,
	NumeroFattura TEXT NOT NULL,
	DataFattura TEXT NOT NULL,
	NomeFile TEXT NOT NULL,
	FileXML BLOB NOT NULL,
	NomeFileP7M TEXT NOT NULL,
	FileP7M BLOB NOT NULL
    );

CREATE INDEX idx_FatturePassiveRicevute ON FatturePassiveRicevute (FKeyManagement,IdSDI);
CREATE INDEX idx_FatturePassiveRicevute_DataFattura ON FatturePassiveRicevute (DataFattura);