UPDATE SY_MainSettings SET NumericValue=0 WHERE SettingName="ErrorReportEnableSSL";
UPDATE SY_MainSettings SET StringValue='' WHERE SettingName="ErrorReportSenderEmail";
UPDATE SY_MainSettings SET StringValue='' WHERE SettingName="ErrorReportSenderSmtp";
UPDATE SY_MainSettings SET StringValue='' WHERE SettingName="ErrorReportSenderPassword";
UPDATE SY_MainSettings SET StringValue='' WHERE SettingName="ErrorReportSenderUser";
UPDATE SY_MainSettings SET NumericValue=0 WHERE SettingName="ErrorReportSenderPort";
UPDATE SY_MainSettings SET StringValue='' WHERE SettingName="ErrorReportEmails";