CREATE TABLE `SY_MainSettings` (                            `SettingName`	TEXT NOT NULL,
	                                                        `StringValue`	TEXT NOT NULL,
	                                                        `NumericValue`	INTEGER NOT NULL,
	                                                        PRIMARY KEY(`SettingName`)
                                                            );
