<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RandomSoftwareUpdaterSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://randomsoftwareupdate.brain-team.it:45082/RandomSoftwareUpdater.asmx"
                binding="basicHttpBinding" bindingConfiguration="RandomSoftwareUpdaterSoap"
                contract="RandomSoftwareUpdater.RandomSoftwareUpdaterSoap"
                name="RandomSoftwareUpdaterSoap" />
        </client>
    </system.serviceModel>
</configuration>