<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SolutionDOC_HubSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SolutionDOC_HubSoap1" />
                <binding name="BasicHttpsBinding_IFatturaPassivaPA">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://testfe.solutiondocondemand.com/solutiondoc_hub.asmx"
                binding="basicHttpBinding" bindingConfiguration="SolutionDOC_HubSoap"
                contract="TwoCSolutionFatturaAttivaService.SolutionDOC_HubSoap"
                name="SolutionDOC_HubSoap" />
            <endpoint address="https://testfppa.solutiondocondemand.com/CustomerTest/FatturaPassivaPA.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IFatturaPassivaPA"
                contract="TwoCSolutionFatturaPassivaService.IFatturaPassivaPA"
                name="BasicHttpsBinding_IFatturaPassivaPA" />
        </client>
    </system.serviceModel>
</configuration>