<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RandomResearch.FatturazioneElettronica.Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RandomResearch.FatturazioneElettronica.Management.Properties.Settings>
            <setting name="SimplyHotel_ProvaConnectionString" serializeAs="String">
                <value />
            </setting>
        </RandomResearch.FatturazioneElettronica.Management.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serverBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mikeferryitalia.it/2CSolutions/server.php"
                binding="basicHttpBinding" bindingConfiguration="serverBinding"
                contract="MikeFerryItaliaService.serverPortType" name="serverPort" />
        </client>
    </system.serviceModel>
</configuration>